{% extends "base-index.html" %}
{% block content %}

<div id="wrap-error-404" class="slide-content">
    <div class="form-content"><img src="images/error404.png" width="80" alt="" class="logo">
      <div class="form-title-wrap">
        <div class="form-section-title">¿Estas perdido?</div>
        <p class="form-paragraph">Error 404, esta página no existe, te recomendamos volver al inicio y volver a intentarlo.<br></p>
      </div>
      <div class="button-wrap">
        <a href="/" class="slider-left w-inline-block"><img src="images/arrow.svg" alt="" class="arrow"></a>
      </div>
    </div>
</div>
  
{% endblock %}