<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/assets/siseusa.css" rel="stylesheet">
    <script src="assets/validate.js"></script>
    <title>Test Vimeo</title>
</head>
<body>
    <h2>Hola {{ data['NOMBRE COMPLETO'] }}</h2>
    <p>Tu carton 1 es {{data['CARTON 1']}} <a href="https://cartones.entretencion.cl/{{ data['CARTON 1'] }}.png"> descargar carton 1</a></p>
    <p>Tu carton 2 es {{data['CARTON 2']}} <a href="https://cartones.entretencion.cl/{{ data['CARTON 2'] }}.png"> descargar carton 2</a></p>

    <div id="contentgenrut9" class="hidden" style="display:block;"><!--hidden-->
        <div class="container box-cont">
          <div class="camporut1">
                 
                  <div class="columnas col_carton">
                      <img id="carton-virtual-1" src="https://cartones.entretencion.cl/{{ data['CARTON 1'] }}.png" alt="Cartón 1" class="img_carton"> 
                      <div class="controles">
                          <div class="controles_fila">
                              <button id="boton1" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton2" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton3" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton4" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton5" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                          <div class="controles_fila">
                              <button id="boton6" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton7" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton8" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton9" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton10" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                          <div class="controles_fila">
                              <button id="boton11" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton12" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="botonxx" class="controles_nro notshow" onClick="marcar_nro(this.id);"></button>
                              <button id="boton13" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton14" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                          <div class="controles_fila">
                              <button id="boton15" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton16" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton17" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton18" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton19" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                          <div class="controles_fila">
                              <button id="boton20" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton21" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton22" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton23" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton24" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                      </div>    
                  </div>
              </div>
        </div>
      </div>
  
  
      <div id="contentgenrut10" class="hidden" style="display:block;"><!--hidden-->
        <div class="container box-cont">
          <div class="camporut1">
                 
                  <div class="columnas col_carton">
                      <img id="carton-virtual-2" src="https://cartones.entretencion.cl/{{ data['CARTON 2'] }}.png" alt="Cartón 2" class="img_carton"> 
                      <div class="controles">
                          <div class="controles_fila">
                              <button id="boton-1" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-2" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-3" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-4" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-5" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                          <div class="controles_fila">
                              <button id="boton-6" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-7" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-8" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-9" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-10" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                          <div class="controles_fila">
                              <button id="boton-11" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-12" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-xx" class="controles_nro notshow" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-13" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-14" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                          <div class="controles_fila">
                              <button id="boton-15" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-16" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-17" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-18" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-19" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                          <div class="controles_fila">
                              <button id="boton-20" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-21" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-22" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-23" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                              <button id="boton-24" class="controles_nro" onClick="marcar_nro(this.id);"></button>
                          </div> 
                      </div>    
                  </div>
              </div>
        </div>
      </div>
      
    </main><!-- End Main -->

</body>
</html>